<div class="top">
	<h1>Welcome to DogWalker!</h1>
	<p><%= link_to 'Schedule a Walk!', new_request_path%></p>
</div>

<div class="image-wrapper">
	<%= image_tag "tinydog.jpg", :class => "dog-img"%>
	<%= image_tag "doge.jpg",  :class => "dog-img" %>
	<%= image_tag "bigblackdog.jpg",  :class => "dog-img" %>
</div>